*{
    margin: 0;
    padding: 0;
    font-family: "Proxima Nova";
}

body{
	font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
}
h1{
    font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    margin-top: 20px;
}

::-webkit-scrollbar-track {
    background: #d9d9d9;
}
::-webkit-scrollbar-thumb{
    background: #834600;
}

::-webkit-scrollbar-thumb:hover{
    background: #4e2a01;
}

a{
    text-decoration: none;
}

body{
    font-family: "Proxima Nova";
    zoom: 70%;
}


/* Navigation */
.nav-container  {
    background: #834600;
    height: 74px;
}

.wrapper{
    max-width: 1345px;
    margin: 0 auto;
}   

nav {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    height: 74px;
}

nav ul{
    display: flex;
}

.nav-items li{
    list-style: none;
    margin-left:120px ;
}

.nav-items li a{
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Proxima Nova";
    text-decoration: none;
}

.icon img{
    margin-left: 40px;
}

.nav-items a:hover{
    text-decoration: underline;
}

.logo{
    position: absolute;
}


a:hover{
    text-decoration: underline;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block; 
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/*content */

.title h1{
    color: #834600;
    text-align: left;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 50px;
}

.title p{
    margin-top: 10px;   
    font-weight: 400;
    color: #834600;
    font-size: 24px;
    margin-bottom: 25px;
}

.input{
    min-width: 549px;
    margin-right: 56%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
}

.btn-promo{
    margin-top: 10px;
    width: 293px;
    height: 70px;
    border: none;
    background: #834600;
    color: #FFFFFF;
    transition: ease-out 0.3s;
    font-size: 20px;
    outline: none;
    margin-bottom: 200px;
}
.btn-promo:hover{
    cursor: pointer;
    font-size: 24px;
}

body{
    font-family: "Proxima Nova";
    zoom: 70%;
}

/*placeholder color*/
::placeholder{
    color: #834600;
}

::-ms-input-placeholder{
    color: #834600;;
}


/* form */

input{
    border: none;
    background-color: #eaeaea;
    padding-left:30px;
    padding-right:30px;
}

input[type=text]{
    width: 550px;
    height: 47px;
    font-size: 24px;
    color: #834600;
}

input[type=email]{
    width: 550px;
    height: 47px;
    font-size: 24px;
    color: #834600;
}

input[type=password]{
    width: 550px;
    height: 47px;
    font-size: 24px;
    color: #834600;
}

.radio-container{
    align-items: center;
    justify-content: space-between;
    padding-left:30px;
    padding-right:30px;
    display: flex;
    background-color: #eaeaea;
    width: 215px;
    height: 47px;
    font-size: 24px;
    color: #834600;
}

.gender-label{
    color: #834600;
    font-size: 16px;
}

.input p{
    margin-left: 5px;
    text-align: justify;
    color: #834600;
}

.tnc-text p{
    font-size: 18px;
}

/* footer */
.footer-container  {
    margin-top: 140px;
    background: #834600;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 288px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1345px;
}

.footer-container ul{
    list-style: none;
}

.footer-container p{
    font-size: 22px;
    line-height: 30px;
}

.footer-container img{
    margin-right: 10px;
}

.footer-container h4{
    font-size: 24px;
    margin-bottom: 20px;
}

.column p{
    width: 217px;
}

.column ul li:not(:last-child){
    margin-bottom: 15px;
}

.col li a{
    color: #FFFFFF;
    font-size: 22px;
    text-decoration: none;
}

.col li a:hover{
    text-decoration: underline;
}

/* Responsif */
@media screen and (max-width:768px){
    .hamburger {
        position: relative;
        display: block;
        margin-left: 10px;
    }

    .icon img{
        margin-left: 10px;
    }

    .logo{
        position: absolute;
        right: 46.5%;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(45deg);
    }

    .nav-items {
        position: absolute;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #834600;
        width: 100%;
        text-align: center;
        transition: 0.4s;
    }

    .nav-items li {
        margin: 20px 0;
    }

    .nav-items.active {
        left: 0;
    }

    .icon img{
        position: relative;
    }

    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 768px !important;
    }

    .column h4 {
        margin-left: 2%;
        margin-right: 2%;
    }

    .content-container {
        margin-left: 10%;
        margin-top: 15%;
    }

    .column p {
        margin-left: 2%;
        margin-right: 2%;
        font-size: 20px;
    }

    .column li a {
        font-size: 20px;
    }

    .social-link {
        width: 70%;
    }
}
